.carousel-container {
  padding: 2rem 1rem;
  
}


.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 50%;
  opacity: 1;
  top: 40%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}

@media (max-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 35px;
    height: 35px;
  }
}