<div class="carousel-container">
  <div id="productCarousel2" class="carousel slide" data-bs-ride="false">
    
    <div class="carousel-inner">
      @for (chunk of chunkedItems; track $index) {
        <div class="carousel-item " [class.active]="$index === 0">
          <div class="row g-2 ">
            @for (item of chunk; track item.title) {
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl d-flex justify-content-center">
                <app-item
                  [title]="item.title"
                  [price]="item.price"
                  [image]="item.image">
                </app-item>
              </div>
            }
          </div>
        </div>
      }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel2" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>