.card {
  background: linear-gradient(135deg, #f9f9f9, #ffffff);
  transition: transform 0.3s, box-shadow 0.3s;
}
.wcard {
  height: 83vh;
}

h1 {
  font-weight: 700;
}

@media (max-width: 576px) {
  .card {
    padding: 3rem 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  .btn-lg {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
  }
}
