.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-title {
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.btn {
  font-weight: 600;
}
